### Custom ###
.env

### Linting and Formatting ###
.husky
.eslintcache

### NextJS ###
.next

### Yarn ###
node_modules
yarn-error.log

### IDE ###
.idea
.history
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json